# Ignore node_modules and build directories
node_modules/
.next/
out/
public/

# Ignore type definition files
**/*.d.ts

# Ignore test files
**/*.test.ts
**/*.test.tsx
**/__tests__/
**/__mocks__/

# Ignore configuration files
next.config.mjs
tailwind.config.cjs
postcss.config.js
jest.config.cjs

# Don't ignore src directory
!src/
